.wrapper_title{
    text-align: center;
}
.mainprogram{
    background-color: darkred;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    height: 300px;
    position: relative;
}
.vvod{
    font-size: 20px;
}

[class^="input"]{
    height: 50px;
    font-size: 50px;
    width: 80%;
}

.result{
    border: solid 4px teal;
    height: 50px;
 /*   margin-top: 30px;*/
 /*margin-left: 50%;*/
    margin: 30px auto 0px auto;
    cursor: pointer;
    box-shadow: 0 10px red;
    transition: all .3s ease;
    display: block;
    font-size: 30px;
}
@media (max-width: 900px) {
    .mainprogram{
        height: 350px;
    }
}
.result:hover{
    box-shadow: 0 5px red;
    /*margin-top: 35px;*/
    transform: translateY(5px);

}

.decision{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 300px;
    width: 80%;
    background-color: green;
    border: solid 2px black;
}
.lh{
    background-color: darkred;
    width: 400px;
    height: 400px;
    margin: 50px auto 0px auto;

}
.lh h1{
    align-items: center;
    text-align: center;
}
.l{
    font-size: 30px;
    margin-left: 10px;
    text-align: center;
}
.b{
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
}
.lh{
    color: white;
    border: solid 10px green;
    transition: all 1s ease;
    border-radius: 30px;
    position: relative;
        left:-20px;
}
/*.lh:hover{*/
/*    background-color: aqua;*/
/*    color: darkslateblue;*/
/*}*/
